language: python
  
python: "3.6"
  
# don't clone more than necessary
git:
  depth: 1
  
# Install dependencies
install:
  - pip install -r requirements.txt
  - pip install coverage
  
# script to run tests. Script can have many commands, one per line.
script:
  - coverage run manage.py test

after_success:
  - bash <(curl -s https://codecov.io/bash)