li a {
    color: rgb(105, 31, 175);
}

body {
    background: white url("images/bg.jpeg");
}

.column {
float: left;
width: 20%;
text-align: center;
}

.row:after {
content: "";
display: table;
clear: both;
}
